--select * from William.dbo.ENE_Combustible
--delete William.dbo.ENE_Combustible
USE [William]
GO
/****** Object:  Table [dbo].[ENE_Combustible]    Script Date: 29/07/2022 2:20:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENE_Combustible](
	[Id_Combustible] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Movil] [nvarchar](20) NULL,
	[Km_Actual] [nvarchar](max) NULL,
	[Cantidad_Suministro] [nvarchar](max) NULL,
	[Odometro_Dañado] [int] NULL,
	[Evidencia] [nvarchar](max) NULL,
	[Usuario_Creacion] [int] NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Estado] [bit] NULL,
	[Id_Surtidor] [int] NOT NULL,
	[Estado_Tapa] [int] NULL,
	[Id_Apertura] [int] NULL,
	[Id_EDS_Pendiente_Actualizacion] [int] NULL,
	[Usuario_Insercion] [int] NULL,
	[Id_Eds_Tipo_Insercion] [int] NULL,
 CONSTRAINT [PK_ENE_Combustible] PRIMARY KEY CLUSTERED 
(
	[Id_Combustible] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ENE_Combustible] ON 

INSERT [dbo].[ENE_Combustible] ([Id_Combustible], [Cod_Movil], [Km_Actual], [Cantidad_Suministro], [Odometro_Dañado], [Evidencia], [Usuario_Creacion], [Fecha_Creacion], [Estado], [Id_Surtidor], [Estado_Tapa], [Id_Apertura], [Id_EDS_Pendiente_Actualizacion], [Usuario_Insercion], [Id_Eds_Tipo_Insercion]) VALUES (1, N'Z70-2014', N'755047', N'11.551', 0, N'', 1, CAST(N'2022-07-01T23:00:00.000' AS DateTime), 1, 8, 0, 1, NULL, NULL, NULL)
INSERT [dbo].[ENE_Combustible] ([Id_Combustible], [Cod_Movil], [Km_Actual], [Cantidad_Suministro], [Odometro_Dañado], [Evidencia], [Usuario_Creacion], [Fecha_Creacion], [Estado], [Id_Surtidor], [Estado_Tapa], [Id_Apertura], [Id_EDS_Pendiente_Actualizacion], [Usuario_Insercion], [Id_Eds_Tipo_Insercion]) VALUES (2, N'Z70-2023', N'448258', N'12.022', 0, N'', 1, CAST(N'2022-07-01T23:00:00.000' AS DateTime), 1, 8, 0, 1, NULL, NULL, NULL)
INSERT [dbo].[ENE_Combustible] ([Id_Combustible], [Cod_Movil], [Km_Actual], [Cantidad_Suministro], [Odometro_Dañado], [Evidencia], [Usuario_Creacion], [Fecha_Creacion], [Estado], [Id_Surtidor], [Estado_Tapa], [Id_Apertura], [Id_EDS_Pendiente_Actualizacion], [Usuario_Insercion], [Id_Eds_Tipo_Insercion]) VALUES (3, N'Z70-2029', N'614820', N'4.216', 0, N'', 1, CAST(N'2022-07-01T23:00:00.000' AS DateTime), 1, 8, 0, 1, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[ENE_Combustible] OFF
GO
